<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>
    <typeAliases>
        <typeAlias alias="Demo"  type="com.demo.entity.demoDataSourceEntity.User"/>
        <typeAlias alias="Demo1"  type="com.demo.entity.demoDataSourceEntity.User1"/>
    </typeAliases>
    <mappers>
        <mapper resource="mapper/demo/demoMapper.xml" />
        <mapper resource="mapper/demo/demo1Mapper.xml" />
    </mappers>
</configuration> 